{% block text_filter_form_widget %}
    <table width="100%">
        <tr>
            <td width="150px">{{ form_widget(form.o) }}</td>
            <td style="padding-left: 10px">{{ form_widget(form.v) }}</td>
        </tr>
    </table>
{% endblock %}

{% block date_filter_form_widget %}
    <table width="100%">
        <tr>
            <td>{{ form_widget(form.start) }}</td>
            <td width="50px" align="center">...</td>
            <td>{{ form_widget(form.end) }}</td>
        </tr>
    </table>
{% endblock %}

{% block integer_filter_form_widget %}
    {{ form_widget(form.value) }}
{% endblock %}

{% block boolean_filter_form_widget %}
    {{ form_widget(form.value) }}
{% endblock %}